a, a:visited {
    color: #08f;
    text-decoration: none;
    font-style: italic;
  }
  a:hover {
    text-decoration: underline;
  }
  
  .layer-selector {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(32, 92, 74);
    margin: 24px;
    padding: 10px 24px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    min-width: 300px;
  }

  .layer-selector h3 { 
    font-size: 16px; margin: 8px 0; 
  }

  .layer-selector .input { 
    display: flex; align-items: center; margin-top: 8px;
  }

  .layer-selector .input input { 
    margin: 0 4px 0 0; 
  }

  .layer-selector label { 
    font-size: 14px; 
  }

  .control-panel {
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 12px;
    width: 320px;
    background: rgba(40,40,40,0.8);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  }
  
  hr {
    margin: 24px 0;
    border-color: #888;
    opacity: 0.3;
  }
  
  .input label {
    min-width: 60px;
    margin-right: 8px;
    display: inline-block;
    line-height: 24px;
    text-transform: uppercase;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 12px;
  }
  
  li {
    margin: 9px;
    list-style-type: square;
  }

  